.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
}

.video-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.text-container h1 {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  margin: 0;
  letter-spacing: 0.1em;
}
